$primary-color: #E22B58;
$dark: #101010;
$border: #FAFAFA1A;
$text: #7B7B7B;

$mobile-screen: 320px;
$large-mobile-screen: 540px;
$tablet-screen: 768px;
$desktop-screen: 920px;
$big-desktop-screen: 1200px;

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
    display: inline-block;
}

nav ul li a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0 25px;
    line-height: 60px;
    display: inline-block;
    position: relative;
}

nav ul li a:hover {
    color: $primary-color;
}


.client-area:hover {
    color: white;
}

.service-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    width: 100%;
    background: $dark;
    height: 60px;
}

.top-nav {
    background: $dark;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $border;
} 