<main>
       <div class="main-header">
           <div class="wrapper">
               <div class="intro">
                  <div id="particles-js"></div>
                   <h1>Would you like to improve your <span class="highlight">Gameplay?</span></h1>
                   <p>Start season 8 off with a freshly boosted account</p>
                   <div class="intro-buttons">
                   <a href="#" class="buyboost">Buy boost</a>
                   <a href="#" class="hirecoach">Hire a coach</a>
                   </div>
               </div>
           </div>
       </div>
       <div class="aboutus">
          <div class="wrapper">
          <div class="aboutus-render">
              <img src="assets/images/aboutchar.png" alt="" class="module">
          </div>
          <div class="about-right">
              <h1>We are the <span class="red-font">leading</span> boosting service</h1>
           <div class="aboutus-cards">
               <div class="about-card">
                   <h2 class="red-font">Private VPN</h2>
                   <p>We use a private VPN on all our orders, to ensure the safety of your account. Every lol elo booster at BoostRoyal has a private VPN protection while working on your LoL account.</p>
               </div>
               <div class="about-card">
                   <h2 class="red-font">Private VPN</h2>
                   <p>We use a private VPN on all our orders, to ensure the safety of your account. Every lol elo booster at BoostRoyal has a private VPN protection while working on your LoL account.</p>
               </div>
               <div class="about-card">
                   <h2 class="red-font">Private VPN</h2>
                   <p>We use a private VPN on all our orders, to ensure the safety of your account. Every lol elo booster at BoostRoyal has a private VPN protection while working on your LoL account.</p>
               </div>
               <div class="about-card">
                   <h2 class="red-font">Private VPN</h2>
                   <p>We use a private VPN on all our orders, to ensure the safety of your account. Every lol elo booster at BoostRoyal has a private VPN protection while working on your LoL account.</p>
               </div>
           </div>
           </div>
           </div>
       </div>
       
       <div class="services">
           <div class="service-wrapper">
               <div class="services-intro">
                   <h1>Our <span class="red-font">Services</span></h1>
                   <p>Royaleboost offers a wide range of services</p>
               </div>
               <div class="services-cards">
                   <div class="service-card module">
                       <img src="assets/images/rank-badges.png" alt="">
                       <h1>ELO Boost</h1>
                       <p>Let our boosters climb your accounts rank in lightning fast time</p>
                       <a href="#" class="service-btn">Buy boost</a>
                   </div>
                   <div class="service-card module">
                       <img src="assets/images/rank-badges.png" alt="">
                       <h1>ELO Boost</h1>
                       <p>Let our boosters climb your accounts rank in lightning fast time</p>
                       <a href="#" class="service-btn">Buy boost</a>
                   </div>
                   <div class="service-card module">
                       <img src="assets/images/rank-badges.png" alt="">
                       <h1>ELO Boost</h1>
                       <p>Let our boosters climb your accounts rank in lightning fast time</p>
                       <a href="#" class="service-btn">Buy boost</a>
                   </div>
               </div>
           </div>
       </div>
       
       <div class="coaching">
           <div class="wrapper">
               <div class="coach-intro">
                   <h1>Our <span class="red-font">Coaches</span></h1>
                   <p>Royaleboost offers a wide range of services</p>
               </div>
               <div class="coaches ">
                   <div class="coach-card module">
                       <img src="assets/images/portrait.jpg" alt="">
                       <h1>Coach Name</h1>
                       <p>Booster bio can go here, a little about themselves and how long they have played for</p>
                       <h1>Rank</h1>
                       <div class="rank-image">
                       <img src="assets/images/diamond.png" alt="">
                       </div>
                   </div>
                   <div class="coach-card module">
                       <img src="assets/images/portrait.jpg" alt="">
                       <h1>Coach Name</h1>
                       <p>Booster bio can go here, a little about themselves and how long they have played for</p>
                       <h1>Rank</h1>
                       <div class="rank-image">
                       <img src="assets/images/diamond.png" alt="">
                       </div>
                   </div>
                   <div class="coach-card module">
                       <img src="assets/images/portrait.jpg" alt="">
                       <h1>Coach Name</h1>
                       <p>Booster bio can go here, a little about themselves and how long they have played for</p>
                       <h1>Rank</h1>
                       <div class="rank-image">
                       <img src="assets/images/diamond.png" alt="">
                       </div>
                   </div>
                   <div class="coach-card module">
                       <img src="assets/images/portrait.jpg" alt="">
                       <h1>Coach Name</h1>
                       <p>Booster bio can go here, a little about themselves and how long they have played for</p>
                       <h1>Rank</h1>
                       <div class="rank-image">
                       <img src="assets/images/diamond.png" alt="">
                       </div>
                   </div>
                   <div class="coach-card module">
                       <img src="assets/images/portrait.jpg" alt="">
                       <h1>Coach Name</h1>
                       <p>Booster bio can go here, a little about themselves and how long they have played for</p>
                       <h1>Rank</h1>
                       <div class="rank-image">
                       <img src="assets/images/diamond.png" alt="">
                       </div>
                   </div>
               </div>
           </div>
       </div>
       
       <div class="more-info">
          <div class="wrapper">
           <div class="more-info-left">
              <div class="more-info-left-text">
               <h1>Why choose use over our competitors</h1><br>
               <p>You can’t get the best Elo experience anywhere in the market as RoyaleBoost has some of the most talented players with only Master and Challenger ranks. These elite players have a vast amount of Elo boosting experience and are very passionate and gifted LOL players. These players were handpicked from around the world to provide an exceptional LOL experience for our customers. Many players have not only moved to the next level with our outstanding Elo boosting services but also gained a vast amount of knowledge, skills and tricks by conversing with our elite group of players. </p>
               </div>
               <div class="more-info-left-image module">
               <img src="assets/images/more-info-render1.png" alt="">
               </div>
           </div>
           
           <div class="more-info-right">
             <div class="more-info-right-image module">
               <img src="assets/images/more-info-render2.png" alt="">
               </div>
              <div class="more-info-right-text">
               <h1>Why choose use over our competitors</h1><br>
               <p>You can’t get the best Elo experience anywhere in the market as RoyaleBoost has some of the most talented players with only Master and Challenger ranks. These elite players have a vast amount of Elo boosting experience and are very passionate and gifted LOL players. These players were handpicked from around the world to provide an exceptional LOL experience for our customers. Many players have not only moved to the next level with our outstanding Elo boosting services but also gained a vast amount of knowledge, skills and tricks by conversing with our elite group of players. </p>
               </div>
           </div>
       </div>
       </div>
       
       <div class="testimonials">
           <div class="testimonials-intro">
               <h1>What our customers have said</h1>
           </div>
           <div class="testimonials-block">
               <div class="testimonials-item fade">
                   <p>I have tried ggboost, elo-boost and many others who gave me trash boosters who couldn’t carry me out of elohell…Allmight from RoyaleBoost won EVERY games,EVERY. A++++ Service. </p>
                   <div class="testimonial-rating">
                   <h2>Petruska - 2018/03/01</h2>
                   <img src="/src/assets/assets/images/stars.png" alt="">
                   </div>
               </div>
               <div class="testimonials-item fade">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae odio rutrum, porttitor neque sit amet</p>
               </div>
               <div class="testimonials-item fade">
                   <p>Morbi nec tincidunt ex. Etiam nec metus lacinia, placerat tortor sit amet, scelerisque sem. Pellentesque ultrices semper sem, eget facilisis </p>
               </div>
               <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
           </div>
       </div>
       
</main>